.ml-table {
  // padding: 0 8px;
  overflow: hidden;

  .ml-table-empty {
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.5;
    color: #c0c0c0;
    text-align: center;

    &-img {
      display: block;
      width: 56px;
      margin: 0 auto;
    }
  }

  .outer-btn-box {
    margin-bottom: 16px;
  }

  .el-table {
    width: 100%;
    color: #666;

    .cell {
      .td-text {
        line-height: 20px;
      }

      .td-img-box {
        display: flex;
        align-items: center;
      }

      .td-img {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-left: 4px;

        &:first-child {
          margin-left: 0;
        }

        .el-icon-circle-close {
          color: #fff;
        }
      }

      .success,
      .error,
      .warning,
      .done,
      .failed {
        &::before {
          display: inline-block;
          width: 6px;
          height: 6px;
          margin: 0 4px 2px 0;
          content: "";
          border-radius: 50%;
        }
      }

      .success::before {
        background-color: #19cc96;
      }

      .error::before {
        background-color: #ff5b63;
      }

      .warning::before {
        background-color: #ff8f33;
      }

      .done::before {
        background-color: #3786fd;
      }

      .failed::before {
        background-color: #c0c0c0;
      }
    }

    thead th {
      // position: relative; //loading层级问题
    }

    .el-button--text {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .el-table__empty-block {
    width: 100% !important;
  }
}

// 因为优先级的问题。放在外层来
.ml-table-pagination {
  padding: 0;
  margin-top: 10px;
  font-weight: normal;
  text-align: right;

  &.is-background {
    .btn-next,
    .btn-prev,
    .el-pager li {
      min-width: 32px;
      height: 32px;
      line-height: 32px;
      background: none;
      border: 1px solid #d9d9d9;

      &.active {
        border: 0;
      }
    }

    .el-pagination__jump,
    .el-pagination__total {
      height: 32px;
      font-size: 12px;
      line-height: 32px;
      color: #666;
    }

    .el-input__inner {
      height: 32px;
      font-size: 12px;
      line-height: 32px;
      color: #666;
    }

    .el-pagination__sizes {
      display: inline-flex;
    }

    .el-pagination__sizes .el-input__inner {
      padding-left: 12px;
      text-align: left;
    }
  }
}

.ml-table-search {
  position: relative;
  margin: 0 -15px 0 0;

  .ml-form {
    flex: 1;

    .ml-form-item-box {
      flex-shrink: 0;
      padding: 0 15px 0 0;
    }
  }

  // &.hide-more {
  //   .ml-form {
  //     flex-wrap: nowrap;
  //     overflow: hidden;
  //   }
  // }

  .search-btn-box {
    padding-right: 15px;
    margin-bottom: 18px;
    margin-left: auto;
    text-align: right;

    .arrow {
      padding-right: 10px;
      padding-left: 10px;

      .el-icon-arrow-down,
      .el-icon-arrow-up {
        margin-right: 0;
      }
    }
  }

  &.search-label-top {
    .search-btn-box {
      margin-top: 22px;
    }
  }

  &.aloneLineBtn.removeBtnHight {
    margin-bottom: -50px;
  }

  &.hide-more.removeBtnHight {
    margin-bottom: -50px;
  }

  // &:not(.hide-more).aloneLineBtn {

  @for $i from 1 to 20 {
    &.hide-more.hide-index-#{$i} {
      .ml-form-item-box:nth-of-type(n + 5) {
        // nth-child(#{$i})
        // visibility: hidden;
        display: none;
      }
    }
  }
}
