.pre-code {
  border: 1px solid #ebebeb;
  border-radius: 3px;
  transition: 0.2s;

  .source-box {
    padding: 0.5em;
    color: #abb2bf;
    background: #282c34;
  }

  &-view {
    padding: 24px;
  }

  &-source {
    &-showbtn {
      &.is-fixed {
        position: fixed;
        bottom: 0;
        z-index: 100;
      }

      display: block;
      width: 100%;
      color: #d3dce6;
      text-align: center;
      cursor: pointer;
      border: 0;
      border-top: 1px solid #eaeefb;

      &-text {
        display: none;
        padding-left: 5px;
      }
    }
  }

  &:hover {
    color: #409eff;

    .pre-code-source-showbtn-text {
      display: inline;
    }
  }

  pre {
    margin: 0 auto;
  }
}
