.global-video-player {
  position: fixed;
  z-index: 500;
  right: 24px;
  top: 155px;
  .player-box{
    position: relative;
    width: 345px;
    height: 190px;
    .el-dialog__headerbtn{
      position: absolute;
      padding: 5px;
      top: 5px;
      right: 5px;
      background: none;
      color: #ffffff;
    }
  }
}